.App-link {
  color: #61dafb;
}

.loginRoot {
  padding: '1.5em 3em';
  width: '330px';
  margin: 'auto';
  margin-top: '16vH';
  /* [theme.breakpoints.down('xs')]: {
    width: 'auto';
    margin: '0.5em 0.5em';
    padding: '1em';
  }; */
};
form {
  margin-top: '3em';
}
inputField {
  margin-bottom: '1.5em';
}
submitButton {
  margin-top: '0.5em';
  height: '3.1em';
  font-size: '1em';
  font-weight: 500;
}
titleLogo {
  display: 'block';
  width: '7em';
  margin: '0 auto';
  /* [theme.breakpoints.down('xs')]: {
    width: '6em';
  }; */
}
footerText {
  margin-top: '1em';
  text-align: 'center';
}
link {
  cursor: 'pointer';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* loader */
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
100% {
  transform: rotate(360deg);
}
}



.loading-indicator:before {
  content: '';
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'Loading';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}